body {
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  border-radius: 2px;
  border-width: 0;
  padding: 10px;
  background: #313131;
  color: white;
}

.red{
  background-color: red;
  color: white;
}
.green{
  background-color: green;
  color: white;
}
.blue{
  background-color: blue;
  color: white;
}
